<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #F7F7F7;
}
</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style="padding:20px"><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#FFFFFF" style="border:1px solid #E9E9E9; padding:25px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="63%" align="left" valign="middle" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#919191"><span style="font-size:20px">Pyramid Site</td>
            <td width="37%" align="right" valign="top"></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top" height="30">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" valign="top" style="border-top:1px solid #e9e9e9; padding-top:20px; font-family:Verdana, Geneva, sans-serif; color:#444">
                <div style="font-weight:bold; font-size:22px">Password recovery</div><br />
                <div style="font-size:13px;">
                  <p>
                  Dear {{ username }},

                      <br />
                    Welcome to Pyramid Site. We’re delighted to have you on board.

                    <br />
                    Now you can access to our application.
                    <br />
                    Your account details are:
                    <br />
                    <strong>Username: {{ email }} </strong><br />
                    <strong>Password: {{ password }}</strong><br />
                    <br />
                    <br />
                    To get started, just go to the following link <a href="{{ host }}/login">{{ host }}/login</a>.



                    <br />
                    Best Regards,


                    <br />
                    <br />
                  <strong>Pyramid Site</strong></p></div>
              </td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
