{% extends "base.html" %}
{% import 'baseform.jinja2' as f %}
{% block content %}
<div class="row-fluid">
    <div class="span9">
        {% if form %}
        <form id="" class="well" action="" method="post" accept-charset="utf-8">
            <fieldset>
                <legend><h2>Recover Password</h2></legend>
                {{ f.text_field(form.email, 60) }}
                <hr/>
                <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
        {% endif %}
    </div>
    <div class="span3">

    </div>
</div>

{% endblock %}
