{% macro field(field, class=None, title=None) %}
{% if field.errors %}
<div class="control-group error">
    {{field.label(class='control-label')}}
    <div class="controls">
        {{field(class=class,title=title)}}
        <span class="help-inline"><ul>{% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul></span>
    </div>
</div>
{% else %}
{{field.label()}}
{{field(title=title)}}
{% endif %}
{% endmacro %}

{% macro text_field(field, length,class=None) %}
{% if field.errors %}
<div class="control-group error">
    {{field.label(class='control-label')}}
    <div class="controls">
        {{field(maxlength=length,class=class)}}
        <span class="help-inline"><ul>{% for error in field.errors %}
            <li>{{ error}}</li>
            {% endfor %}
        </ul></span>
    </div>
</div>
{% else %}
{{field.label()}}
{{field(maxlength=length,class=class)}}
{% endif %}
{% endmacro %}

{% macro date_field(field,title=None) %}
{% if field.errors %}
<div class="control-group error">
    {{field.label(class='control-label')}}
    <div class="controls">
        {{field(maxlength=9,class='input-small',title=title)}}
         <span class="help-inline"><ul>{% for error in field.errors %}
             <li>{{ error}}</li>
             {% endfor %}
         </ul></span>
    </div>
</div>
{% else %}
{{field.label()}}
{{field(maxlength=10,class='input-small',title=title)}}
{% endif %}
{% endmacro %}

{% macro hidden_field(field) %}
{% if field.errors %}
<div class="control-group error">
    <div class="controls">
        {{field(maxlength=9,class='input-small')}}
          <span class="help-inline"><ul>{% for error in field.errors %}
              <li>{{ error}}</li>
              {% endfor %}
          </ul></span>
    </div>
</div>
{% else %}
{{field(maxlength=9,class='input-small')}}
{% endif %}
{% endmacro %}